.slider {
  position: relative;
}
.thumbs,
.carousel-status {
  display: none;
}
.slider {
  position: relative;
}
.carousel-item {
  width: 100%;
  height: 84vh;
  background-position: center;
  background-size: cover;
}

.control-dots .selected {
  background-color: #20bf55 !important;
}
.control-arrow {
  display: none;
}
.navigation {
  position: absolute;
  top: 47vh;
  height: 6vh;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .carousel-item {
    height: 54vh !important;
  }
}

@media screen and (max-width: 320px) {
  .control-arrow {
    display: block;
    top: 47vh !important;
    background-color: transparent !important;
    height: 6vh !important;
  }
  .control-arrow:focus {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .control-next:before {
    content: ">" !important;
    color: black !important;
    border-left: 8px solid transparent !important;
  }
  .control-prev:before {
    content: "<" !important;
    color: black !important;
    border-right: 8px solid transparent !important;
  }
  .control-arrow:hover,
  .control-arrow:focus {
    background: transparent;
  }
  .control-dots {
    display: none;
  }
  .carousel-item {
    height: 93vh;
  }
}
